<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess</title>
</head>
<body>
    <h1></h1>
    <!-- Inside of this curely brackets is python code that is functional -->
    <h1>HI! You are {{person_name}}</h1>
    <h1>You are {{person_gender}}</h1> 
    <h1>You are {{person_age}} years old!</h1>
    
</body>
<footer>
    <p>@copyright {{cur_date}} created by utshav</p>
</footer>
</html>