<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
</head>
<body>
    <a href="{{ url_for('get_blog',num=3)}}">Blog</a>
    <ul>
        <li><a href="{{ url_for('get_blog', num=1)}}">1</a></li>
        <li><a href="{{ url_for('get_blog', num=2)}}">2</a></li>
        <li><a href="{{ url_for('get_blog', num=3)}}">3</a></li>
    </ul>
</body>
<footer>
    <p>@copyright {{cur_date}} created by utshav</p>
</footer>
</html>